@layer layout.section {
	.section {
		--section-padding: 5.625rem;

		padding: var(--section-padding) 0;

		&--padding-small {
			--section-padding: 1.875rem;
		}

		&--padding-xsmall {
			--section-padding: .1875rem;
		}
	}
}