@layer components.hamburger {
	.hamburger {
		--hamburger-width: 1.875rem;
		--hamburger-gap: .25rem;
		
		--hamburger-line-height: .125rem;

		$this: &;

		display: grid;
		align-content: center;
		justify-items: center;
		gap: var(--hamburger-gap);
		width: var(--hamburger-width);
		padding: .4103rem;
		aspect-ratio: 1;

		transform-origin: center;

		&__line {
			width: 100%;
			height: var(--hamburger-line-height);

			background-color: currentColor;

			border-radius: var(--hamburger-line-height);

			@media (prefers-reduced-motion: no-preference) {
				transition: var(--base-transition);
			}

			#{$this}:target &,
			#{$this}:focus & {
				&:nth-child(1) {
					color: red;
					// translate: 0 calc(var(--hamburger-line-height) + var(--hamburger-gap));
				}
				&:nth-child(2) {
					color: green;
					scale: 0 1;
				}
				&:nth-child(3) {
					color: aqua;
					// translate: 0 calc((var(--hamburger-line-height) + var(--hamburger-gap)) * -1);
				}
			}
		}
	}
}