@layer components.logo {
	.logo {
		display: flex;
		gap: var(--logo-gap, .3125rem);
		align-items: center;
		color: var(--logo-color);

		&__icon {
			pointer-events: none;
			user-select: none;

			&--circle {
				min-width: 1.0625rem;
				max-width: 1.0625rem;
			}

			&--ellipse {
				min-width: 2rem;
				max-width: 1.0625rem;
			}
		}

		&__title {
			font-family: var(--logo-title-font-family);
			font-size: 1.25rem;
			font-weight: 300;
		}

	}
}