@use '../abstracts/mixins';

@layer components.nav {
	.nav {
		$this: &;

		--nav-border-block-end-color: var(--color-gray-87);
		--nav-border-block-end-style: solid;
		--nav-border-block-end-width: .0625rem;

		--nav-background-color: var(--color-gray-100);

		--nav-gap: 3.75rem;
		--nav-item-gap: .5rem;
		--nav-item-min-height: calc(5rem - var(--nav-border-block-end-width));
		--nav-xsmall-gap: calc(var(--nav-gap) / 2);

		font-size: 1.25rem;

		border-block-end: var(--nav-border-block-end-color) var(--nav-border-block-end-style) var(--nav-border-block-end-width);

		background-color: var(--nav-background-color);

		// * элементы
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			column-gap: var(--nav-gap);

			&:not(:has(#{$this}__center)) {
				justify-content: space-between;
			}

			&:not(:has(#{$this}__start))::before,
			&:not(:has(#{$this}__end))::after {
				content: '';
				flex: 1;
			}

			@include mixins.media-max('small') {
				flex-wrap: wrap;
			}
		}

		&__start {
			position: relative;
			display: flex;
			align-items: center;

			gap: var(--nav-gap);
			justify-content: flex-start;

			#{$this}__container:not(:has(#{$this}__center)):has(#{$this}__end)::after {
				flex: 1;
			}

			@include mixins.media-max('xsmall') {
				width: 100%;
				flex-basis: 100%;
				justify-content: center;

				&::before {
					position: absolute;
					content: '';
					inset: auto -1rem 0 -1rem;
					height: var(--nav-border-block-end-width);
					border-block-end: var(--nav-border-block-end-color) var(--nav-border-block-end-style) var(--nav-border-block-end-width);
				}
			}
		}

		&__center {
			display: flex;
			align-items: center;

			gap: var(--nav-gap);
			justify-content: center;

			@include mixins.media-max('small') {
				& {
					position: relative;
					order: 1;
					flex-basis: 100%;
				}

				&::before {
					position: absolute;
					content: '';
					inset: 0 -1rem auto -1rem;
					height: var(--nav-border-block-end-width);
					border-block-end: var(--nav-border-block-end-color) var(--nav-border-block-end-style) var(--nav-border-block-end-width);
				}
			}
		}

		&__end {
			display: flex;
			align-items: center;

			column-gap: var(--nav-gap);
			justify-content: flex-end;

			#{$this}__container:not(:has(#{$this}__center)):has(#{$this}__start)::before {
				flex: 1;
			}

			@include mixins.media-max('xsmall') {
				justify-content: space-between;
			}
		}

		&__list {
			display: flex;
			align-items: center;
			column-gap: var(--nav-gap);
			flex-wrap: wrap;

			&--xsmall {
				gap: var(--nav-xsmall-gap);
			}

			&--space-between-small {

				// TODO: перенести в visible / hidden
				@include mixins.media-max('xsmall') {
					display: none;
				}

				@include mixins.media-max('small') {
					width: 100%;
					justify-content: space-between;
				}
			}
		}

		&__item {
			display: flex;
			align-items: center;
			gap: var(--nav-item-gap);
			min-height: var(--nav-item-min-height);

			text-wrap: nowrap;
		}

		&__link {
			// @extend #{$this}__item;
			display: flex;
			align-items: center;
			gap: var(--nav-item-gap);
			min-height: var(--nav-item-min-height);

			text-wrap: nowrap;
		}

	}
}