@layer themes.default {
	:root {
		// --color-gray-100: hsl(0, 0%, 100%);
		--color-gray-100: #FFFFFF;

		// --color-gray-92: hsl(0, 0%, 92%);
		--color-gray-92: #EBEBEB;

		// --color-gray-87: hsl(0, 0%, 87%);
		--color-gray-87: #DDDDDD;

		// --color-gray-77: hsl(0, 0%, 77%);
		--color-gray-77: #C4C4C4;

		// --color-gray-75: hsl(0, 0%, 75%);
		--color-gray-75: #C0C0C0;

		// --color-gray-74: hsl(0, 0%, 74%);
		--color-gray-74: #BCBCBC;

		// --color-gray-73: hsl(240, 6%, 73%);
		--color-gray-73: #B5B5BD;

		// --color-gray-56: hsl(240, 10%, 56%);
		--color-gray-56: #85859B;

		// --color-gray-40: hsl(0, 0%, 40%);
		--color-gray-40: #666666;

		// --color-gray-35: hsl(212, 15%, 35%);
		--color-gray-35: #4C5866;

		// --color-gray-20: hsl(0, 0%, 20%);
		--color-gray-20: #333333;

		--base-transition-duration: 0.2s;
		--base-transition: var(--base-transition-duration) ease-in-out;

		// ! move to light
		// * body
		--body-background-color: var(--color-gray-92);
		--body-color: var(--color-gray-56);

		--logo-color: var(--color-gray-20);
		--logo-inversion-color: var(--color-gray-100);

		// ! move to dark

	}
}