@layer base.default {
	html {
		scrollbar-gutter: stable;
	}

	body {
		min-height: 100dvh;
		margin: 0;

		color: var(--body-color);
		background-color: var(--body-background-color);
	}
}