// * базовый размер шрифта шаблона
// note: используется как задачи базового шрифта шаблона, так и для расчета различных функций
$base-font-size: 16;

// * точки перелома дизайна
$breakpoints: (
	xsmall: 620,
	small: 930,
	medium: 1200,
	large: 1400,
	xlarge: 1600) !default;


// $breakpoints: (
// 	xsmall: 750,
// 	small: 900,
// 	medium: 1200,
// 	large: 1400,
// 	xlarge: 1600
// );